global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']  # Changed this line
        labels:
          instance: 'local-server'

  - job_name: 'snmp_exporter'
    static_configs:
      - targets: ['snmp_exporter:9116']